 <section class="sign-up" ng-app="blocJams" ng-controller="SignUp" ng-show="false">
     <div class="sign-up-text">Want Bloc Jams to remember you?<br>
         Want it to remember your favorite songs, artists, and albums?<br>
         Sign up for a Bloc Jams account!</div>
     <form novalidate>
        First Name:<br>
         <input type="text" ng-model="user.firstName"><br>
        Last Name:<br>
          <input type="text" ng-model="user.lastName"><br>
        User Name:<br>
          <input type="text" ng-model="user.userName"><br>
        Password:<br>
           <input type="password" ng-model="user.password"><br>
        Email:<br>
           <input type="email" ng-model="user.email"><br>
         <button ng-click="reset()">RESET</button>
          <button ng-click="save()">SAVE</button>
     </form>
 </section>